<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<h1>Список пользователей системы</h1>
<div>
    <table>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>e-mail</th>
            <th>Возраст</th>
            <th>Роли</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.firstName}"></td>
            <td th:utext="${user.lastName}"></td>
            <td th:utext="${user.email}"></td>
            <td th:utext="${user.age}"></td>
            <td th:utext="${user.roles}"></td>
        </tr>
    </table>
</div>

<br>
<div>
    <input type="button" class="btn btn-flat btn-round" value="Выйти из личного кабинета"
           onclick="window.location.href='logout'"/>
</div>
</body>
</html>